<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>dvlr.it - url shortening service</title>
</head>
<body>
    <form action="." method="POST">
        <div>
            <label for="url">URL</label>
            <input type="text" id="url" name="url" value="" />
        </div>
        <div>
            <label for="name">name</label>
            <input type="text" id="name" name="name" maxlength="6" value="" />
        </div>
        <div>
            <label for="reuse">if possible reuse an existing short url</label>
            <input type="checkbox" id="reuse" name="reuse" value="1" />
        </div>
        <div>
            <input type="submit" value="make short url" />
        </div>
    </form>
</body>
